<h2>Enter your trip info</h2>
<div>
  <%= f.label :origin %>
</div>
<div>
  <%= f.select :origin, [['Stern Hall', 1],['Wilbur Hall', 2],['Lagunita Court', 3]], :include_blank => true %>
</div>
<div>
  <%= f.label :destination %>
</div>
<div>
  <%= f.select :destination, [['SFO Domestic', 1], ['SFO International', 2],['SJC Domestic', 3], ['SJC International', 4]], :include_blank => true %>
</div>
