<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="header">
  <img id="logo" src="<%= ENV["SERVER_HOSTNAME"] %>/images/ridegrouped_logo.png" width="250" height="81" alt="">
</div>
<div id="main">
<p>Hi <%= @user.first_name %>,</p>

<p>Forgot your password?
<br>Just click the following link to reset your password:
  <%= link_to "Password Reset", "#{ENV['SERVER_HOSTNAME']}/iforgot/reset?user_id=#{@user.id}&auth_token=#{Digest::SHA2.hexdigest(@user.id.to_s + @user.password_salt + @user.one_time_password)}"%>
</p>

<p>Thanks,<br>
The RideGrouped Team</p>
</div>
</body>
</html>
