<p><%= @user.first_name %></p>,

<p>Thank you for registering with Covoi! To validate your registration and create your password for your account, follow the link below:</p>

<p><%= link_to "Confirm Registration", "http://localhost:3000/confirmation/new?id=#{@user.account_id}&amp;otp=#{@user.one_time_password}"%></p> 
