
<table>
  <tbody id="match_message">
  </tbody>
</table>
<table class="table table-striped" id="match_table">
  <thead>
    <tr>
      <th>Pickup Location</th>
      <th>Airport</th>
      <th>Date</th>
      <th>Pickup Time</th>
      <th>Price</ih>
    </tr>
  </thead>
  <tbody id="match_table_body">
  </tbody>
</table>
<table>
  <tbody id="new_ride_message">
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Pickup Location</th>
      <th>Airport</th>
      <th>Date</th>
      <th>Pickup Time</th>
      <th>Price</ih>
    </tr>
  </thead>
  <tbody id="new_ride_table">
  </tbody>
</table>
<%= button_tag "Back to searching", :id => "match_back_button", :class => "btn btn-large btn-warning" %>