<% content_for :head do %>
  <div id="menu"><%= link_to "Home", root_url %></div>
<% end %>

<div class="spacer"></div>
<div id="forgot_box" class="box">
  <div class="box_title">Forgot Your Password?</div>
  <div id="forgot_error"></div>
  <div class="small_spacer"></div>
  <%= form_for :user, :remote => true, url: "/iforgot/new_post" do |f| %>
    <div> No worries! Just enter your email and we'll send you a link to reset your password. </div>
    <div class="spacer"></div>
    <div>
      <%= f.text_field :email %> <%= f.submit "Send", :id => "forgot_submit"%>
    </div>
  <% end %>
</div>
