/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  font-family: 'Play';
}

.header {
  background: repeat url(/images/bgnoise.png);
  margin: auto;
  min-width: 1024px;
  border-bottom: 1px solid #e39231;
}

.header_content {
  width: 1024px;
  margin: auto;
}

.header_icon {
  display: inline-block;
  height: 81px;
  width: 250px;
  margin: 20px;
  margin-bottom: 12px;
  margin-left: 0;
  background: no-repeat url(/images/ridegrouped_logo_big.png);
}

.main {
  padding: 0 20px;
  margin: auto;
  min-width: 1024px;
}

.main_content {
  font-size: 0;
  width: 1024px;
  margin: auto;
}

a:link,
a:visited {
  color: #808080;
}

a:hover,
a:focus {
  color: #e39231;
  outline: none;
}

input[type=text],
input[type=password] {
  font-family: 'Inder';
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid #c0c0c0;
  margin: 0;
  outline: none;
  width: 175px;
}

input[type=text]:focus,
input[type=password]:focus {
  border: 1px solid #f4a342;
  outline: none;
  box-shadow: inset 0 0 3px #c0c0c0;
}

select {
  -webkit-appearance: none;
  width: 175px;
  font-size: 14px;
  font-family: 'Inder';
  padding: 4px 8px;
  margin: 0;
  outline: none;
  border: 1px solid #c0c0c0;
  border-radius: 0px;
}

select:focus {
  border: 1px solid #f4a342;
  box-shadow: inset 0 0 3px #c0c0c0;
}

.variable_width_select select {
  width: inherit;
}

input[type=submit],
button {
  font-family: 'Play';
  cursor: pointer;
  border: 1px solid #f4a342;
  outline: none;
  background-color: #f4a342;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  height: 30px;
  width: 80px;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus {
  border-color: #c19009;
}

input[type=submit]:active,
button:active {
  border-color: #c19009;
  background-color: #e39231;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

.box {
  font-size: 16px;
  font-family: 'Inder';
  border-left: 1px solid #e39231;
  background-color: #ffffff;
  padding: 30px;
  margin: 0;
}

.box_title {
  font-family: 'Play';
  font-size: 24px;
  color: #808080;
  border-bottom: 1px solid #e39231;
  margin-bottom: 10px;
}

.spacer {
  height: 20px;
}

.small_spacer {
  height: 10px;
}

.error {
  color: #e39231;
  font-size: 13px;
}

.notice {
  color: #e39231;
  font-size: 14px;
}
