#login_box {
  display: inline-block;
  border: none;
  vertical-align: top;
  float: right;
}

.login_label {
  color: #808080;
}

#login_email, #login_password, #login_submit {
  display: inline-block;
  padding-top: 30px;
  vertical-align: top;
}

#login_submit {
  padding-top: 47px;
}

#how_to {
  width: 470px;
  height: 520px;
  display: inline-block;
  background: no-repeat url(/images/flyer.jpg);
  margin-left: 40px;
}

#register_box {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  margin: 20px;
  margin-left: 40px;
}

#register_submit {
  margin-left: 113px;
}

#login_email_text,
#login_password_text {
  margin-bottom: 0;
}

#forgot_password {
  font-size: 13px;
}

#register_table td {
  height: 45px;
}

#submit_row td {
  padding-top: 10px;
}

.register_label {
  font-size: 14px;
  width: 80px;
}

