#login_box {
  display: inline-block;
  border: none;
  vertical-align: top;
  float: right;
}

#login_email, #login_password, #login_submit {
  display: inline-block;
  padding-top: 30px;
  vertical-align: top;
}

#login_submit {
  padding-top: 47px;
}

#register_box {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 20px;
  margin-left: 600px;
}
