#active_box, #trip_box, #match_box, #payment_box {
  vertical-align: top;
  width: 390px;
  padding-right: 0;
  border: none;
  display: none;
}

#trip_date {
  width: 156px;
}

.trip, .picked_trip {
  border: 1px solid #c0c0c0;
  width: 275px;
  padding: 10px;
  display: inline-block;
}

.trip:hover {
  cursor: pointer;
}

.active_trip {
  font-size: 15px;
  border: 1px solid #c0c0c0;
  padding: 10px;
  width: 368px;
}

.tab {
  padding-top: 7px;
  float: right;
  font-size: 16px;
}

.tab:hover,
.tab:focus {
  color: #e39231;
}

.tab:hover {
  cursor: pointer;
}

#map_box {
  vertical-align: top;
  display: inline-block;
  border-right: 1px solid #e39231;
}

#map_canvas {
  width: 570px;
  height: 400px;
  margin: 0;
  display: inline-block;
}

#menu {
  padding-top: 90px;
  float: right;
  color: #808080;
}

.inline {
  display: inline-block;
}

.mouseover {
  padding: 0 5px;
  border: 1px solid #808080;
  font-size: 13px;
  margin: 0 5px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.mouseover:hover {
  cursor: pointer;
}

body .ui-tooltip {
  font-size: 14px;
  font-family: 'Inder';
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

body .ui-datepicker {
  font-size: 16px;
  font-family: 'Play';
}

.ui-datepicker td,
.ui-datepicker th {
  width: 14%;
}

#donate_dollars {
  width: 10px;
  margin: 0 2px;
}

#donate_cents {
  width: 20px;
  margin-left: 2px;
  margin-right: 5px;
}

#donate_10_button,
#donate_20_button {
  font-size: 14px;
  width: 40px;
  height: 25px;
  margin-right: 5px;
}
